node_modules

dist
build
.DS_Store
*.log
.env
backend/.env
frontend/.env
venv/
**/node_modules/
__pycache__/
*.pyc
ml-model/models/*.pkl
ml-model/models/*.json
ml-model/outputs/figures/*
!ml-model/outputs/figures/.gitkeep
ml-model/outputs/reports/*
!ml-model/outputs/reports/.gitkeep
